name: lint
on: pull_request
jobs:
  main:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with: { node-version: 14 }
      - run: echo "::set-env name=YARN_CACHE_DIR::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ env.YARN_CACHE_DIR }}
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-
      - run: yarn
      - run: yarn lint-report
        continue-on-error: true
      - uses: ataylorme/eslint-annotate-action@1.0.4
        with: { repo-token: "${{ secrets.GITHUB_TOKEN }}" }
